<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gustafah.android.mockinterceptor">

    <application>
        <receiver android:name=".notification.DefaultMockNotificationReceiver" />

        <activity
            android:name="com.gustafah.android.mockinterceptor.ui.MockOptionsActivity"
            android:exported="false"
            android:theme="@style/mock_MainTheme" />
    </application>

</manifest>
